  
  <div style="text-align:center">
    <h1>
      Welcome to World of Cars!
    </h1>
  </div>

  <mat-form-field class="search-form">
    <input matInput placeholder="Search Picture" type="text">
  </mat-form-field>
  <button button="submit" mat-raised-button color="primary">Search</button>
  <br>
  <div class="containers">
        <div class="parallax">
      
          </div>
        
        </div>
  <header class="masthead clear">
    <div class="centered">
        
        <div class="site-branding">
            <h1 class="site-title">Luxury</h1>
      
        </div><!-- .site-title -->
    </div><!-- .centered -->
</header><!-- .masthead -->

<main class="main-area">
    
    <div class="centered">

        <section class="cards">
            
            <article class="card">
                <a href="#">
                    <picture class="thumbnail">
                        <img src="../../assets/images/audi.jpg" alt="A banana that looks like a bird">
                    </picture>
                    <div class="card-content">

                        <h2>Audi</h2>
          
                    </div><!-- .card-content -->
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                    <picture class="thumbnail">
                        <img src="../../assets/images/bentley.jpg" alt="Norwegian boller">
                    </picture>
                    <div class="card-content">
                        <h2>Bentley</h2>
                          </div><!-- .card-content -->
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                    <picture class="thumbnail">
                        <img src="../../assets/images/ford.jpg" alt="A dinosaur wearing an aluminium jacket">
                    </picture>
                    <div class="card-content">
                        <h2>Ford</h2>
                        </div><!-- .card-content -->
                </a>
            </article><!-- .card -->

            <article class="card">
                <a href="#">
                    <picture class="thumbnail">
                        <img src="../../assets/images/lincoln.png" alt="Chocolate filled boller">
                    </picture>
                    <div class="card-content">
                        <h2>Lincoln</h2>
                         </div><!-- .card-content -->
                </a>
            </article><!-- .card -->

            <article class="card">
              <a href="#">
                  <picture class="thumbnail">
                      <img src="../../assets/images/porsche.jpg" alt="Chocolate filled boller">
                  </picture>
                  <div class="card-content">
                      <h2>Porsche</h2>
                       </div><!-- .card-content -->
              </a>
          </article><!-- .card -->

          <article class="card">
            <a href="#">
                <picture class="thumbnail">
                    <img src="../../assets/images/rangerover.jpg" alt="Chocolate filled boller">
                </picture>
                <div class="card-content">
                    <h2>Range Rover</h2>
                     </div><!-- .card-content -->
            </a>
        </article><!-- .card -->
        <article class="card">
          <a href="#">
              <picture class="thumbnail">
                  <img src="../../assets/images/richardpardon.jpg" alt="Chocolate filled boller">
              </picture>
              <div class="card-content">
                  <h2>Richard Pardon</h2>
                   </div><!-- .card-content -->
          </a>
      </article><!-- .card -->
      <article class="card">
        <a href="#">
            <picture class="thumbnail">
                <img src="../../assets/images/rollsroyce.jpg" alt="Chocolate filled boller">
            </picture>
            <div class="card-content">
                <h2>Rolls Royce</h2>
                 </div><!-- .card-content -->
        </a>
    </article><!-- .card -->

        </section><!-- .cards -->
       
    </div><!-- .centered -->

    <div class="containers">
            <div class="parallax1">
          
              </div>
            
            </div>

    <div class="containers">
            <header class="masthead clear">
                    <div class="centered">
                        
                        <div class="site-branding">
                            <h1 class="site-title">Sports</h1>
                      
                        </div><!-- .site-title -->
                    </div><!-- .centered -->
                </header><!-- .masthead -->
                
                <main class="main-area">
                    
                    <div class="centered">
                
                        <section class="cards">
                            
                            <article class="card">
                                <a href="#">
                                    <picture class="thumbnail">
                                        <img src="../../assets/images/s1.jpg" alt="A banana that looks like a bird">
                                    </picture>
                                    <div class="card-content">
                
                                        <h2>Bugatti-La-Voiture-Noire-3</h2>
                          
                                    </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                
                            <article class="card">
                                <a href="#">
                                    <picture class="thumbnail">
                                        <img src="../../assets/images/McLaren.jpg" alt="Norwegian boller">
                                    </picture>
                                    <div class="card-content">
                                        <h2>McLaren</h2>
                                          </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                
                            <article class="card">
                                <a href="#">
                                    <picture class="thumbnail">
                                        <img src="../../assets/images/Koenigsegg.jpg" alt="A dinosaur wearing an aluminium jacket">
                                    </picture>
                                    <div class="card-content">
                                        <h2>Koenigsegg</h2>
                                        </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                
                            <article class="card">
                                <a href="#">
                                    <picture class="thumbnail">
                                        <img src="../../assets/images/Valkyrie.jpg" alt="Chocolate filled boller">
                                    </picture>
                                    <div class="card-content">
                                        <h2>Valkyrie</h2>
                                         </div><!-- .card-content -->
                                </a>
                            </article><!-- .card -->
                
                            <article class="card">
                              <a href="#">
                                  <picture class="thumbnail">
                                      <img src="../../assets/images/Ferrari-Sergio.jpg" alt="Chocolate filled boller">
                                  </picture>
                                  <div class="card-content">
                                      <h2>Ferrari-Sergio</h2>
                                       </div><!-- .card-content -->
                              </a>
                          </article><!-- .card -->
                
                          <article class="card">
                            <a href="#">
                                <picture class="thumbnail">
                                    <img src="../../assets/images/rangerover.jpg" alt="Chocolate filled boller">
                                </picture>
                                <div class="card-content">
                                    <h2>Range Rover</h2>
                                     </div><!-- .card-content -->
                            </a>
                        </article><!-- .card -->
                        <article class="card">
                          <a href="#">
                              <picture class="thumbnail">
                                  <img src="../../assets/images/Lambo.jpg" alt="Chocolate filled boller">
                              </picture>
                              <div class="card-content">
                                  <h2>Lambo</h2>
                                   </div><!-- .card-content -->
                          </a>
                      </article><!-- .card -->
                      <article class="card">
                        <a href="#">
                            <picture class="thumbnail">
                                <img src="../../assets/images/Lykan_HyperSport-2.jpg" alt="Chocolate filled boller">
                            </picture>
                            <div class="card-content">
                                <h2>Lykan_HyperSport-2</h2>
                                 </div><!-- .card-content -->
                        </a>
                    </article><!-- .card -->
                
                        </section><!-- .cards -->
                       
                    </div><!-- .centered -->
                    
    
</main>